@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <img style="align-content: center" src="@Model.ProfileImage"/>
    <p style="text-align: center">@Model.EmailAddress</p>
</div>